.notification {
  position: relative;
  width: 260px;
  color: rgb(20, 20, 20);
  -webkit-user-select: none;
  background-color: #fff;
  padding: 6px 6px;
  padding-right: 6px;
  padding-right: 32px;
  border-radius: 4px;
  margin-left: calc(100vw - 318px);
  margin-bottom: 6px;
  z-index: 1000000;
  box-shadow: 0px 0px 3px 1px #00000029;
}

.notification.error {
  background-color: #fbdada;
  border: 1px solid #ca6969;
  color: #711414;
}

.notification.warning {
  background-color: #fffae9;
  border: 1px solid #d7c850;
  color: #552400;
}

.notification.info {
  background-color: #e9f8ff;
  border: 1px solid #56afca;
  color: #004155;
}

.notificationClose {
  position: absolute;
  height: 24px;
  width: 24px;
  opacity: 0.6;
  right: 1px;
  top: 6px;
}

.notificationClose.hidden {
  display: none;
}

.notificationClose:hover {
  opacity: 1;
}

.notificationClose:before,
.notificationClose:after {
  position: absolute;
  left: 10px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: #000;
}

.notificationClose:before {
  transform: rotate(45deg);
}

.notificationClose:after {
  transform: rotate(-45deg);
}
