.headerAnchor {
  color: rgb(230, 230, 230);
  text-decoration: underline;
  margin: 0 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration-color: #8e8e8e;
  display: inline-flex;
}

.headerAnchor:hover {
  color: rgb(173, 173, 173);
}

.headerAnchor:active {
  color: rgb(150, 150, 150);
}
