.headerAnchor {
  color: rgb(26, 26, 26);
  margin: 0 3px;
  -webkit-user-select: none;
  user-select: none;
  text-decoration-color: #8e8e8e;
  display: inline-flex;
  border-bottom: 1px dashed #595959e8;
  height: 20px;
  padding-bottom: 1px;
}

.headerAnchor:hover {
  opacity: 0.8;
}

.headerAnchor:active {
  color: rgb(150, 150, 150);
}