.task {
  width: 240px;
  min-height: 125px;
  height: max-content;
  border: 2px solid #c0c0c0;
  padding: 6px;
  padding-top: 2px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
  position: relative;
}

.task.onFire {
  border-color: #eb6f62;
  animation: fire 1s alternate;
  animation-iteration-count: infinite;
}

@keyframes fire {
  from {
    border-color: #eb6f62;
  }
  to {
    border-color: #f1a8a0;
  }
}

@-o-keyframes fire {
  from {
    border-color: #eb6f62;
  }
  to {
    border-color: #f1a8a0;
  }
}
@-moz-keyframes fire {
  from {
    border-color: #eb6f62;
  }
  to {
    border-color: #f1a8a0;
  }
}
@-webkit-keyframes fire {
  from {
    border-color: #eb6f62;
  }
  to {
    border-color: #f1a8a0;
  }
}

.textField {
  width: 240px;
  height: 68px;
  margin-bottom: 6px;
  border-bottom: 1px dashed #c0c0c0;
  padding-bottom: 6px;
}

.selectField.full {
  width: 240px;
  height: 34px;
  margin-bottom: 6px;
  border-bottom: 1px dashed #d2d2d2;
  padding-bottom: 6px;
}

.selectField.hidden {
  display: none;
}

.executionTime {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 34px;
}

.timeField {
  display: flex;
}

.timeField.hidden {
  display: none;
}

.timeLabel {
  margin-top: 6px;
}

.timeLabel.hidden {
  display: none;
}

.taskActions {
  display: flex;
  padding-top: 4px;
  justify-content: flex-end;
  height: 30px;
}

.optionalPart {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-left: 6px;
}

.optionalPart.full {
  flex-flow: column;
  padding-bottom: 6px;
  border-bottom: 1px dashed #d2d2d2;
}

.taskMenu {
  position: absolute;
  background: #fff;
  padding: 4px;
  left: 4px;
  top: 94px;
  font-size: 14px;
  display: flex;
  width: 212px;
  justify-content: flex-end;
}
