.task {
  width: 240px;
  min-height: 121px;
  height: max-content;
  border: 1px solid #c0c0c0;
  padding: 6px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
}

.task.onFire {
  border: 1px solid #eb6f62;
}

.flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.textField {
  width: 240px;
  height: 68px;
  margin-bottom: 6px;
  border-bottom: 1px dashed #c0c0c0;
  padding-bottom: 6px;
}

.selectField.full {
  width: 240px;
  height: 34px;
  margin-bottom: 6px;
  border-bottom: 1px dashed #d2d2d2;
  padding-bottom: 6px;
}

.selectField.hidden {
  display: none;
}

.executionTime {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 34px;
}

.timeField {
  display: flex;
}

.timeField.hidden {
  display: none;
}

.timeLabel {
  margin-top: 6px;
}

.timeLabel.hidden {
  display: none;
}

.taskActions {
  display: flex;
  padding-top: 4px;
  justify-content: flex-end;
  height: 30px;
}

.optionalPart {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.optionalPart.full {
  flex-flow: column;
  padding-bottom: 6px;
  border-bottom: 1px dashed #d2d2d2;
}
