.menu {
  height: 20px;
  margin-top: 10px;
  margin-left: 12px;
}

.link {
  padding: 4px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
}

.link:hover {
  color: rgb(173, 173, 173);
}

.link:active {
  color: rgb(150, 150, 150);
}
