.moveDatePicker {
  padding-bottom: 6px;
  width: 152px;
  border-radius: 4px;
  margin-top: 6px;
}

.CHOOSE_YOUR_DESTINY {
  border-radius: 4px;
  width: max-content;
  margin-bottom: 6px;
}
