.pageContent {
  margin: 0px 3px;
  color: #222;
  height: max-content;
  background-color: #fff;
  padding: 3px 12px;
  border-radius: 4px;
}

.pageContainer {
  margin: 0px 3px;
  color: #222;
  height: max-content;
}
