.statisticContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 12px;
  width: 100%;
  flex-wrap: wrap;
}

.statisticTable {
  display: flex;
  flex-direction: column;
}
