.button {
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  border: 1px solid rgba(138, 138, 138, 0.73);
  border-radius: 2px;
  font-family: "Source Sans Pro";
  font-size: 16px;
  margin-top: 12px;
  border-radius: 4px;
  color: #555555;
  margin-right: 12px;
}

.button.primary {
  color: #222;
  border-color: #36266b;
}

.button.disabled {
  color: #888;
  background-color: #f4f4f4;
  border-color: rgba(145, 145, 145, 0.73);
}

.button:hover {
  border: 1px solid rgba(68, 68, 68, 0.73);
}

.button:active {
  border: 1px solid rgba(68, 68, 68, 0.73);
  background-color: rgb(240, 240, 240);
}
