.button {
  padding: 6px 12px;
  background: rgba(138, 138, 138, 0.1);
  border-radius: 2px;
  font-family: Source Sans Pro;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  color: #555;
  margin-right: 12px;
  outline: none;
}

.button:hover {
  background: #f9f9f9;
}

.button.primary {
  color: #fff;
  background: #1c9ccee8;
}

.button.primary:hover {
  background: #1c9ccecb;
}

.button.primary:active {
  border: none;
  background: #1987b3e8;
}

.button.disabled {
  color: #888;
  background-color: #f4f4f4;
  border-color: rgba(145, 145, 145, 0.73);
}

.button.disabled:hover {
  color: #888;
  background-color: #f4f4f4;
  border-color: rgba(145, 145, 145, 0.73);
}

.button.disabled:active {
  color: #888;
  background-color: #f4f4f4;
  border-color: rgba(145, 145, 145, 0.73);
}

.button:active {
  border: none;
  background: rgba(138, 138, 138, 0.24);
}
