.datePeriodPicker {
  display: flex;
  flex-direction: row;
  margin-right: 12px;
}

.datePeriodPickerCalendarIcon {
  opacity: 0.3;
  margin-right: 59px;
  display: block;
  width: 20px;
  margin-left: 203px;
  margin-top: 9px;
  height: 20px;
  position: absolute;
}

.datepickerSeparator {
  border-right: 1px dashed #c0c0c0;
  background: #fff;
}
