.timeContentContainer {
  outline: none;
}

.timeContentContainer.focus {
  outline: 1px solid rgb(96, 191, 255);
  outline-offset: -1px;
}

.timeContent {
  border: none;
  font-family: "Source Sans Pro";
  font-size: 16px;
  padding-left: 6px;
}

.timeContent:disabled {
  background: rgb(251, 251, 251);
  color: #444;
}

.timeContent.standalone {
  background: #fff;
  color: #000;
}

.timeContent:focus {
  outline: none;
}
