.headerNavigation.link {
  padding: 4px 0px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
  display: inline-block;
  margin-right: 12px;
}

.headerNavigation.hidden {
  display: none;
}

.headerNavigation.link:hover {
  opacity: 0.8;
}

.headerNavigation.link:active {
  color: rgb(150, 150, 150);
}
.headerNavigation.link.current {
  border-bottom: 2px solid #e6e6e6;
}

.headerNavigation.link.current:hover {
  border-color: rgb(173, 173, 173);
}
