.headerNavigation.link {
  padding-bottom: 1px;
  color: rgb(40, 40, 40);
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  margin-right: 12px;
  margin-top: 8px;
}

.headerNavigation.hidden {
  display: none;
}

.headerNavigation.link:hover {
  opacity: 0.8;
}

.headerNavigation.link:active {
  color: rgb(150, 150, 150);
}

.headerNavigation.link.current {
  border-bottom: 2px solid #1c9ccee8;
}

.headerNavigation.link.current:hover {
  border-color: rgb(173, 173, 173);
}