.radioButtonCarousel {
  display: flex;
  flex-direction: row;
}

.radioButton {
  background-color: #fff;
  padding: 6px 12px;
  border: 1px solid rgba(138, 138, 138, 0);
  border-left: 0;
  border-right: 1px dashed #c0c0c0;
  font-family: "Source Sans Pro";
  font-size: 16px;
  border-radius: 0;
  color: #555555;
  border-width: thin;
  border-bottom: 1px solid #c2c2c2;
  border-top: 1px solid #c2c2c2;
}

.radioButton:hover {
  background: #f2f2f2;
}

.radioButton:active {
  outline: none;
  border: none;
  border-right: 1px dashed #c0c0c0;
}

.radioButton.holiday {
  color: rgba(138, 138, 138, 0.73);
}

.radioButton.borderless {
  border-bottom: 1px solid #f4f4f400;
  border-top: 1px solid #f4f4f400;
}

.radioButton.primary {
  color: #000000;
  border-bottom: 2px solid #1c9ccee8;
}

.radioButton.first {
  border-radius: 4px 0px 0px 4px;
  border-left: 1px solid #c2c2c2;
}

.radioButton.first.borderless {
  border-left: 0px solid #f4f4f400;
}

.radioButton.last {
  border-radius: 0px 4px 4px 0px;
  border-right: none;
  border-right: 1px solid #c2c2c2;
}

.radioButton.last.borderless {
  border-right: 0px solid #f4f4f400;
}