.chart {
  color: rgb(20, 20, 20);
  margin-bottom: 0px;
  font-size: 14px;
  background-color: #fff;
  padding: 6px 12px;
  padding-left: 12px;
  border-radius: 4px 4px 4px 4px;
  height: max-content;
  width: max-content;
  padding-left: 0px;
  padding-right: 12px;
  margin-right: 6px;
  margin-bottom: 12px;
}

.chartOverLable {
  background-color: #fff;
  width: 41px;
  position: absolute;
  z-index: 6;
  color: rgb(106, 109, 124);
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  margin-top: -5px;
  margin-left: 23px;
}

.chartLable {
  width: max-content;
  font-weight: 900;
  margin: 6px auto;
  padding-left: 60px;
}

.chartOverLableText {
  margin-left: auto;
  padding-right: 6px;
}

.ScrollbarsCustom-Scroller {
  height: calc(100% + 4px);
  overflow-x: hidden !important;
}
