.contextMenu {
  position: fixed;
  width: max-content;
  background: #f7f7f7;
  padding-bottom: 2px;
  border: 1px solid #9c9c9c;
  min-width: 40px;
  z-index: 1001;
  border-radius: 4px;
  display: flex;
  outline: none;
}

.contextMenu:before {
  border: 7px solid transparent;
  border-top-color: #9c9c9c;
  position: absolute;
  top: 100%;
  left: 9px;
  content: "";
}
.contextMenu:after {
  border: 6px solid transparent;
  border-top-color: #f7f7f7;
  position: absolute;
  top: 100%;
  left: 10px;
  content: "";
}

.twitterPicker {
  background: #f7f7f7 !important;
  border: 1px solid #9c9c9c !important;
}

.twitterPicker.hidden {
  display: none;
}

.twitterPicker:before {
  border: 11px solid transparent;
  border-bottom-color: transparent;
  border-bottom-color: #9c9c9c;
  position: absolute;
  bottom: 100%;
  left: 10px;
  content: "";
}
