.broadCastMessage {
  height: max-content;
  width: calc(100% - 120px);
  background: #fbf3b2;
  color: #757575;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 4px 0;
  position: fixed;
  bottom: 6px;
  border: 1px solid #c0c0c0;
  border-radius: 6px;
  margin-left: 60px;
  margin-right: 60px;
  z-index: 10000;
  box-shadow: 0px 2px 4px #c6c6c6;
}

.broadcastMessageClose {
  position: absolute;
  right: -4px;
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.broadcastMessageClose.hidden {
  display: none;
}

.broadcastMessageClose:hover {
  opacity: 1;
}

.broadcastMessageClose:before,
.broadcastMessageClose:after {
  position: absolute;
  left: 6px;
  content: " ";
  height: 18px;
  width: 2px;
  background-color: #000;
}

.broadcastMessageClose:before {
  transform: rotate(45deg);
}

.broadcastMessageClose:after {
  transform: rotate(-45deg);
}
