.broadCastMessage {
  height: max-content;
  width: 100%;
  background: #f2dc2b5c;
  color: #757575;
  text-align: center;
  font-weight: bold;
  display: block;
  padding: 4px 0;
  position: fixed;
  bottom: 0;
}
