.broadCastMessage {
  height: 24px;
  width: 100%;
  background: #f2dc2b5c;
  color: #757575;
  text-align: center;
  font-weight: bold;
  display: block;
  padding-top: 4px;
  position: absolute;
  bottom: 0;
}
