.errorMessage {
  color: rgb(115, 1, 1);
  background: #fbf1f1;
  padding: 4px 4px;
  border: 1px solid #d0696942;
  margin: 8px 0;
}

.errorMessage.warning {
  color: rgb(106, 100, 4);
  background: #f2dc2b26;
  border: 1px solid #f2dc2bbd;
}
