.datePicker {
  font-family: "Open Sans", "Source Sans Pro";
  font-size: 15px;
  margin-right: 12px;
  height: 31px;
  border-radius: 4px;
  border: 1px solid rgba(138, 138, 138, 0);
  padding-left: 12px;
  display: block !important;
  width: inherit;
}

.datePicker:hover {
  background: #f2f2f2;
}

.datePicker:active {
  border-color: #1c9ccee8;
  background-color: rgb(240, 240, 240);
}

.datePicker:focus {
  color: #222;
  border-color: #1c9ccee8;
}

.datePicker.left.chosen {
  border: 1px solid #1c9ccee8;
}

.datePicker.right.chosen {
  border: 1px solid #1c9ccee8;
}

.datePicker.left {
  border-radius: 4px 0px 0px 4px;
}

.datePicker.right {
  border-radius: 0px 4px 4px 0px;
}

.react-datepicker {
  font-family: "Open Sans", "Source Sans Pro";
  font-size: 15px;
  border: none;
  box-shadow: 0px 0px 2px #6f6f6f;
}

.react-datepicker__header {
  text-align: center;
  background-color: #f0f0f0;
  border-bottom: 1px dashed #aeaeae;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  padding-top: 8px;
  position: relative;
}
