.selectContent {
  border: none;
  font-family: "Source Sans Pro";
  font-size: 16px;
  text-overflow: ellipsis;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-right: 14px;
  padding-left: 3px;
}

.stringContent:disabled {
  background: rgb(251, 251, 251);
  color: #444;
}

.selectContent:focus {
  outline: 1px solid rgb(96, 191, 255);
  outline-offset: -1px;
}
