.navigation.link {
  padding: 4px 0px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
  display: inline-block;
}

.navigation.hidden {
  display: none;
}

.navigation.link:hover {
  opacity: 0.8;
}

.navigation.link:active {
  color: rgb(150, 150, 150);
}
.navigation.link.current {
  border-bottom: 2px solid #e6e6e6;
}

.navigation.link.current:hover {
  border-color: rgb(173, 173, 173);
}
