.pageNavigation {
  color: #6c6c6c;
  margin: 0 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  display: inline-flex;
  text-decoration: none;
  margin-right: 6px;
}
