.contextMenu {
  position: fixed;
  width: max-content;
  margin-top: -38px;
  background: #f7f7f7;
  padding: 2px;
  border: 1px solid #797979;
  min-width: 40px;
  box-shadow: 0px 0px 2px #919191;
  z-index: 1001;
  border-radius: 4px;
}

.contextMenu:before {
  border: 8px solid transparent;
  border-top-color: #797979;
  position: absolute;
  top: 100%;
  left: 8px;
  content: "";
}
.contextMenu:after {
  border: 6px solid transparent;
  border-top-color: #f7f7f7;
  position: absolute;
  top: 100%;
  left: 10px;
  content: "";
}

.twitterPicker {
  background: #f7f7f7 !important;
  border: 1px solid #797979 !important;
}

.twitterPicker.hidden {
  display: none;
}

.twitterPicker:before {
  border: 11px solid transparent;
  border-bottom-color: transparent;
  border-bottom-color: #797979;
  position: absolute;
  bottom: 100%;
  left: 10px;
  content: "";
}
