.pageActions {
  margin-right: 3px;
  display: flex;
  font-size: 17px;
  color: #535353;
  flex-direction: row;
  background-color: #ffffffe6;
  padding: 6px 12px;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(138, 138, 138, 0.73);
  margin-bottom: 12px;
  margin-left: 8px;
}