.addTaskButton {
  height: 96px;
  width: 96px;
  margin: auto;
  opacity: 0.3;
}

.addTaskButton:hover {
  opacity: 0.5;
}

.newTaskContainer {
  padding-top: 10px;
}

.newTaskButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
}
