.stepContainer {
  padding-top: 10px;
}

.stepBody {
  height: 69px;
  margin-left: 1px;
}

.newTaskButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10px;
  margin-top: 11px;
}

.newTaskSelectLable {
  color: rgb(135, 129, 124);
  padding-bottom: 6px;
}

.newTask {
  width: 254px;
  min-height: 126px;
  padding: 6px;
  padding-top: 2px;
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  background: #fff;
  position: relative;
}
