.tasksDatePickersContainer {
  display: flex;
  margin-bottom: 12px;
}

.statisticTotalContainer {
  margin-bottom: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.categoriesDatePickersContainer {
  display: flex;
  margin-bottom: 12px;
}

.tablesContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  padding-bottom: 12px;
}

.statisticTableContainter {
  margin-left: 6px;
  margin-right: 6px;
  margin-bottom: 12px;
}

.statisticDatePickerContainer {
  display: flex;
  justify-content: center;
}
