.taskContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 12px;
}

.tasksNotExistsMessage {
  display: flex;
  text-align: center;
  margin: auto;
  color: #535353;
  font-size: 15px;
  white-space: pre-line;
  flex-direction: column;
}

.tasksNotExistsMessage.p {
  margin: 4px;
}
