.headerCellContent {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  width: calc(100% - 4px);
  height: calc(100% - 12px);
  position: absolute !important;
}

.headerCellContent:focus {
  background: rgb(240, 240, 240);
}

.headerCellContent.chosen {
  display: inline-table;
  background: white;
  z-index: 1000;
  min-height: max-content !important;
  position: fixed;
  border-bottom: 1px solid #979797;
  box-shadow: 0px 0px 4px black;
}
