.navigation {
  height: 20px;
  margin-top: 10px;
  margin-left: 12px;
}

.navigation.link {
  padding: 4px;
  color: rgb(230, 230, 230);
  text-decoration: none;
  user-select: none;
}

.navigation.link.current {
  border-bottom: 1px solid #e6e6e6;
}

.navigation.link:hover {
  color: rgb(173, 173, 173);
}

.navigation.link:active {
  color: rgb(150, 150, 150);
}
