.tableMenu {
  background: rgb(243, 243, 243);
  border-bottom: 1px solid #c0c0c0;
  border-left: 1px solid #c0c0c0;
  border-right: 1px solid #c0c0c0;
  width: max-content;
  margin-left: auto;
  border-radius: 0px 0px 4px 4px;
}
