.tableMenu {
  background: #fff;
  border-bottom: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  width: max-content;
  margin-right: auto;
  border-radius: 0px 0px 4px 4px;
}
