.taskLog {
  justify-content: center;
  display: flex;
  margin-left: -11px;
}

.taskLogResize {
  border-left: 1px solid #c0c0c0;
  border-top: 1px solid #c0c0c0;
  border-radius: 4px 0px 0px 0px;
  background: rgb(243, 243, 243);
}
