.headerButton {
  color: rgb(230, 230, 230);
  text-decoration: underline;
  margin-right: 3px;
  margin-left: 3px;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  text-decoration-color: #8e8e8e;
}

.headerButton:hover {
  color: rgb(173, 173, 173);
}

.headerButton:active {
  color: rgb(150, 150, 150);
}
