.textareaAutosize {
  padding-left: 6px;
  white-space: pre-line;
  overflow-x: hidden;
  overflow-y: hidden;
  text-overflow: ellipsis;
  border: none;
  border-radius: 0;
  font-family: "Source Sans Pro";
  font-size: 16px;
  resize: none;
  line-height: 30px;
  background: rgba(255, 255, 255, 0);
  z-index: 5;
}

.textareaAutosize.widearea {
  display: inline-table;
  background: white;
  z-index: 10;
  position: fixed !important;
  box-shadow: 0px 0px 4px rgb(34, 101, 146);
  text-overflow: unset;
  white-space: pre-line;
  resize: vertical;
  max-height: none !important;
  outline: 1px solid rgb(96, 191, 255) !important;
}

.textareaAutosize:focus {
  outline: none;
}

.textareaScrollbar {
  background: rgb(255, 255, 255);
}

.textareaScrollbar.stylable {
  margin-left: 32px;
}

.textareaScrollbar.error {
  outline: 1px solid rgb(245, 59, 99);
}

.textareaScrollbar.disabled {
  background: rgba(255, 255, 255, 0);
}

.textareaScrollbar.disabled.stylable {
  margin-left: 0px;
}

.textareaScrollbar:focus-within {
  outline: 1px solid rgb(96, 191, 255);
}

.Scrollbars-TrackY {
  width: 6px !important;
  opacity: 0.5;
}

.ScrollbarsCustom-Track.ScrollbarsCustom-TrackY {
  opacity: 0.5;
}

.ScrollbarsCustom-Content {
  box-sizing: border-box;
  padding: 0.05px;
  min-height: 100%;
  min-width: 100%;
}

.ScrollbarsCustom-Scroller {
  height: calc(100% + 4px);
  overflow-x: hidden !important;
}

.ScrollbarsCustom-Wrapper {
  position: absolute;
  inset: 0px 6px 0px 0px;
  overflow: hidden;
}