.pageNavigationLink {
  margin-right: 6px;
  text-decoration: none;
  color: rgb(20, 20, 20);
  margin-top: 2px;
}

.pageNavigationLink:hover {
  color: rgb(65, 65, 65);
}

.pageNavigationLink:active {
  color: rgb(56, 56, 56);
}

.pageNavigationLink.current {
  color: rgb(40, 40, 40);
  border-bottom: 2px solid #1c9ccee8;
}

.pageNavigationLink.current.secondary {
  opacity: 1;
}

.pageNavigationLink.secondary {
  opacity: 0.8;
}