.pageNavigationLink {
  margin-right: 6px;
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.pageNavigationLink:hover {
  color: rgb(65, 65, 65);
}

.pageNavigationLink:active {
  color: rgb(56, 56, 56);
}

.pageNavigationLink.current {
  color: #36266b;
  border-bottom: 1px solid #2b2b2b;
}
