.row {
  display: flex;
  justify-content: left;
  border-left: 1px solid #e3e3e3;
}

.row.header {
  display: flex;
  justify-content: left;
}

.row:focus {
  background: rgb(219, 219, 219);
}
