.row {
  display: flex;
  background: #fbfbfb;
  justify-content: left;
  border-bottom: 1px dashed #c2c2c2;
  padding-top: 1px;
}

.row.header {
  background: #fff;
}

.row:focus {
  background: rgb(219, 219, 219);
}

.rowButton {
  flex-direction: column;
  justify-content: center;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
}
