.row {
  display: flex;
  background: #fbfbfb;
  justify-content: left;
  border-bottom: 1px dashed #c2c2c2;
  padding-top: 1px;
}

.row.header {
  background: #fff;
}

.row:focus {
  background: rgb(219, 219, 219);
}