.loadWallpapersBox {
  display: flex;
  height: 90px;
  width: 384px;
  border: 1px dashed #c0c0c0;
  border-radius: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.loadBackgroundArea {
  color: #535353;
  font-size: 14px;
  margin: auto;
  text-align: center;
  padding: 6px;
}
