.actionContainer {
  display: flex;
  flex-direction: row;
  cursor: default;
  justify-content: flex-end;
}

.actionIconContainer {
  display: flex;
}

.actionIconContainer:hover {
  opacity: 0.8;
}

.actionIconContainer.transparent {
  opacity: 0.45;
}

.actionIconContainer.transparent:hover {
  opacity: 0.75;
}

.actionIconContainer.vanishing {
  opacity: 0.25;
}

.actionIconContainer.vanishing:hover {
  opacity: 0.55;
}

.actionIconContainer.disabled {
  opacity: 0;
}

.actionIconContainer.pressed {
  border-radius: 4px;
  background: #eee;
}

.actionIconContainer.transparent.pressed {
  opacity: 0.5;
  border-radius: 4px;
  background: #eee;
}

.action {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0);
  display: inline-block;
  opacity: 0.6;
}

.action.flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.actionLable {
  padding-top: 4px;
  margin-left: 2px;
}

.actionHintContainer {
  position: absolute;
  z-index: 99;
  margin-left: -28px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: 200px;
  margin-right: 30px;
}

.actionHint {
  background: #313131;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-family: "Source Sans Pro";
  opacity: 0.8;
  display: none;
}

.actionHint.visible {
  display: block;
}
