.action {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-size: 24px 24px !important;
}

.action:hover {
  opacity: 0.7;
}

.action.pressed {
  border: 1px solid #bdbdbd;
  border-radius: 4px;
  background-color: #e3e3e3 !important;
}

.action.disabled {
  opacity: 0.2;
}

.action.disabled:hover {
  opacity: 0.2;
}
