.actionContainer {
  display: flex;
  flex-direction: row;
  cursor: default;
}

.actionContainer:hover {
  opacity: 0.5;
}

.actionContainer:active {
  opacity: 0.6;
}

.action {
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0);
  background-size: 24px 24px !important;
  display: inline-block;
  opacity: 1;
}

.action.transparent {
  opacity: 0.3;
}

.action.vanishing {
  opacity: 0.1;
}

.action.flicker {
  -webkit-animation: flickerAnimation 2s infinite;
  -moz-animation: flickerAnimation 2s infinite;
  -o-animation: flickerAnimation 2s infinite;
  animation: flickerAnimation 2s infinite;
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.action.pressed {
  border: 1px solid #9c9c9c;
  border-radius: 4px;
  box-shadow: inset 0px 0px 4px #c2c2c270;
}

.action.transparent.pressed {
  opacity: 0.5;
  border: 1px solid #9c9c9c00;
  box-shadow: none;
}

.action.disabled {
  opacity: 0;
}

.action.disabled:hover {
  opacity: 0.2;
}

.actionLable {
  padding-top: 2px;
  margin-left: 2px;
}

.actionLable.transparent {
  opacity: 0.8;
}

.actionLable.vanishing {
  opacity: 0.5;
}
