.timeContent {
  border: none;
  font-family: "Open Sans", "Source Sans Pro";
  font-size: 15px;
  padding-left: 6px;
}

.timeContent:disabled {
  background: rgb(251, 251, 251);
  color: #444;
}

.timeContent:focus {
  outline: 1px solid rgb(96, 191, 255);
  outline-offset: -1px;
}
