.addButton {
  background: rgb(243, 243, 243);
  border-left: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
  margin-left: 12px;
  border-radius: 4px 4px 0px 0px;
}
