.validation {
  font-size: 13.3333px;
  font-family: "Source Sans Pro";
  margin-top: 2px;
  margin-bottom: 4px;
  color: #863636;
  text-align: left;
  display: none;
}

.validation.error {
  display: block;
}
