.extendTaskWindow {
  width: 100%;
  margin-top: -10px;
}

.taskSidebar {
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.taskDescriptionContainer {
  width: calc(100%);
}

.taskName {
  margin-bottom: 12px;
  margin-left: 0px;
  border-bottom: 1px dashed #c0c0c0;
  padding-right: 6px;
}

.taskSelect {
  margin-bottom: 4px;
  width: 204px;
  font-weight: bold;
}

.taskSelectsContainer {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dashed #c0c0c0;
}

.taskContentContainer {
  display: flex;
  flex-direction: row;
}

.taskTimeContainer {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
}

.taskTime {
  display: flex;
  margin-left: -3px;
}

.taskActionsContainer {
  border-bottom: 1px dashed #c0c0c0;
  padding: 6px 0px;
  width: 100%;
  justify-content: space-between;
  display: flex;
}

.ck-editor__editable {
  min-height: 372px !important;
  width: 60vw;
}

.timeContentExtendWindowWrapper {
  width: 60px;
}
.taskTimeLabel {
  padding-top: 9px;
  width: 100%;
  color: #a9a9a9;
}