.table {
  width: max-content;
  height: max-content;
}

.tableWrapper {
  overflow: hidden;
  width: max-content;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
}

.tableNotFoundMessage {
  display: flex;
  justify-content: center;
  padding: 10px 12px;
  color: rgb(135, 129, 124);
  cursor: default;
}
