.table {
  width: max-content;
  height: max-content;
}

.tableWrapper {
  overflow: hidden;
  width: max-content;
  background: #fff;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid rgba(138, 138, 138, 0.73);
}