.textContent {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
  position: absolute !important;
  border: none;
  font-family: "Open Sans", "Source Sans Pro";
  font-size: 15px;
  resize: none;
}

.textContent.chosen {
  display: inline-table;
  background: white;
  z-index: 1000;
  position: fixed !important;
  box-shadow: 0px 0px 4px rgb(34, 101, 146);
  text-overflow: unset;
  white-space: pre-line;
  resize: vertical;
  max-height: none !important;
}

.textContent:focus {
  outline: 1px solid rgb(96, 191, 255);
  outline-offset: -1px;
}

.textContent:disabled {
  background: rgb(243, 243, 243);
}
