body {
  overflow-x: hidden;
  overflow-y: hidden;
}
li {
  margin: 6px 0;
}

.root {
  font-family: "Open Sans", "Source Sans Pro";
  font-size: 15px;
  font-weight: 100;
}

.h1 {
  margin-top: 4px;
  margin-bottom: 8px;
  font-weight: 500;
}
