.header {
  width: 100%;
  height: 40px;
  margin-top: 0px;
  background: #fff;
  display: flex;
  font-family: "Source Sans Pro";
  font-size: 16px;
}

.iconSettingsContainer {
  margin-right: 5px;
  margin-top: 7px;
}
