.td {
  vertical-align: middle;
  border-left: 1px solid #000;
  margin: 0px !important;
}

.td.chosen {
  display: inline-table;
  background: white;
}

.td:focus {
  background: rgb(240, 240, 240);
}

.th {
  font-weight: 700;
  vertical-align: middle;
  border-left: 1px solid #000;
  background: rgb(224, 224, 224);
  margin: 0px !important;
}

.th:focus {
  background: rgb(240, 240, 240);
}

b {
  font-weight: bold;
}

.inner {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 4px;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: auto;
  text-overflow: ellipsis;
}

.inner:focus {
  background: rgb(240, 240, 240);
}

.inner.chosen {
  display: inline-table;
  background: white;
  z-index: 1000;
  min-height: max-content !important;
  position: fixed;
  border-bottom: 1px solid black;
  box-shadow: 0px 0px 4px black;
}
