.td {
  vertical-align: middle;
  border-left: 1px solid #979797;
  margin: 0px !important;
}

.td.chosen {
  display: inline-table;
  background: white;
}

.th {
  font-weight: 700;
  vertical-align: middle;
  border-left: 1px solid #979797;
  background: rgb(224, 224, 224);
  margin: 0px !important;
}

.th:focus {
  background: rgb(240, 240, 240);
}
