.td {
  border-radius: 4px;
  margin: 2px 0px;
  margin-right: 2px;
}

.td.chosen {
  display: inline-table;
  background: white;
}

.th {
  font-weight: 700;
  vertical-align: middle;
  border-radius: 4px;
  margin: 2px 0px;
  margin-right: 2px;
}

.th:focus {
  background: rgb(240, 240, 240);
}