.taskLog {
  justify-content: flex-end;
  display: flex;
  border-top: 1px solid #f4f4f4;
  border-radius: 5px;
}

.taskLogResize {
  margin-top: 10px;
  padding-right: 8px;
  position: absolute;
  z-index: 1;
  height: 22px;
}

.taskLogTableContainer {
  bottom: 0;
  padding-bottom: 4px;
  position: sticky;
}

.taskLogTable {
  width: max-content;
  margin: auto;
}
