.taskLog {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.taskLogResize {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -30px;
  z-index: 9000;
  height: 22px;
  left: 539px;
}

.taskLogTableContainer {
  width: calc(100% - 131px);
  position: absolute;
  bottom: 0;
}

.taskLogTable {
  margin: auto;
  width: max-content;
}