.taskLog {
  justify-content: center;
  display: flex;
  margin-left: -34px;
  border-top: 1px solid #f4f4f4;
  border-radius: 5px;
}

.taskLogResize {
  padding-left: 4px;
  padding-right: 4px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: -12px;
  z-index: 1;
  height: 22px;
  left: 1119px;
  margin-left: -34px;
}

.taskLogTableContainer {
  width: calc(100% - 131px);
  position: absolute;
  bottom: 0;
  padding-bottom: 4px;
}

.taskLogTable {
  margin: auto;
  width: max-content;
}
