.categoryNewTask {
  width: 240px;
  height: 34px;
}

.newTaskNameContainer {
  width: 240px;
  height: 68px;
  margin-bottom: 6px;
  border-bottom: 1px dashed #c0c0c0;
  padding-bottom: 6px;
  margin-top: 10px;
}
