.action {
  margin-right: 3px;
  display: inline-block;
  width: 30px;
  margin-left: 5px;
  height: 24px;
  vertical-align: middle;
  margin-bottom: 6px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.action.pressed {
  border: 1px solid #bdbdbd;
  padding-bottom: 5px;
  vertical-align: middle;
  border-radius: 4px;
  margin-bottom: 1px;
  background-color: #e3e3e3 !important;
}
